
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

   *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    

   }


   body,html{
    display:grid;
    min-height:100%;
    place-items:center;
    background-color:yellow;
   }

   .card{
    width: 600px;
    height:500px;
    box-shadow:10px 10px 15px rgb(192,183,183),-10px -10px 15px white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius:20px;

}

.name{
     font-size: 3rem;
     font-family: 'Poppins', sans-serif;
     padding-top:6px;


}

#counter{
    font-size:5rem;
    padding-bottom: 58px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    color:grey;
    
}

.incr,.decr,.reset {

    font-size: 1.3rem;
    outline: none;
    padding:0.7rem,1.5rem;
    cursor:pointer;
    margin:0 2rem;
    font-family:'Poppins', sans-serif;
    height: 45px;
    width:80px;
    
    border-radius: 5px;
    background-color: chartreuse ;
     


}

